<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
                <div class="card-header">
                    <p>{{ currentLocation }}</p>
                </div>
                <div class="col-xs-4 text-xs-right">
                    <div class="card-header">
                        <h1>{{ weatherData.temp | tempUnit: currentTempUnit | number: '.0-0'}}&deg;</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-block">
                            <canvas id="icon" ></canvas>
                            <p>{{ weatherData.summary }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="card-footer">
                            <p>Wind</p>
                            <p>{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
                        </div>
                    </div>
                    <div class="col-xs-5 offset-xs-2">
                        <div class="card-footer">
                            <p>Humidity</p>
                            <p>{{ weatherData.humidity | percent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>