<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
                <!-- class.invisible keepsd DOM structure -->
                <div class="card-header" [class.invisible]="!dataReceived">
                    <p>{{ currentLocation }}</p>
                </div>
                <div class="col-xs-4 text-xs-right">
                    <div class="card-header">
                        <h1>{{ weatherData.temp | tempUnit: currentTempUnit | number: '.0-0'}}&deg;</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-block">
                            <div id="indicator" [hidden]="dataReceived">
                                <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                            <canvas id="icon" [hidden]="!dataReceived"></canvas>
                            <p>{{ weatherData.summary }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="card-footer">
                            <p>Wind</p>
                            <p>{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
                        </div>
                    </div>
                    <div class="col-xs-5 offset-xs-2">
                        <div class="card-footer" [class.invisible]="!dataReceived">
                            <p>Humidity</p>
                            <p>{{ weatherData.humidity | percent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>